.field{
    align-content: center;
    justify-content: center;
    place-content: center;
}

.css-dtbg0r .PrivateDatePickerToolbar-penIcon{
    color: white!important;
}
.css-dtbg0r .PrivateDatePickerToolbar-penIcon:hover{
    color: white!important;
}